version: "3.8"

services:
  postgres:
    image: postgres:14
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: four_row_game
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    container_name: backend-app
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    ports:
      - "5000:5000"

volumes:
  postgres_data:
